body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.rating span {
  color: #ffc000;
}

.center-amer {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.btn-primary {
  background: #ffc000;
  color: #000;
  border: 1px solid rgb(255 192 0 / 50%);
}

.btn-primary:hover {
  border: 1px solid rgb(255 192 0 / 50%);
  background: #eeb60f;
  color: #000;
  color: #000;
}
.btn-primary:focus {
  color: #000;
  background-color: #ffc000;
  border-color: #ffc000;
  box-shadow: 0 0 0 0.25rem rgb(255 192 0 / 50%);
}

.btn-primary:active {
  background: #ffc000;
  color: #000;
  border: 1px solid rgb(255 192 0 / 50%);
  outline: none;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus {
  color: #000;
  background-color: #ffc000;
  border-color: #ffc000;
  box-shadow: 0 0 0 0.25rem rgb(255 192 0 / 50%);
}
.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
